Source Code Delivery/Chapter10/Recipe10-13Client/Service References/Services/Apress.VisualCSharpRecipes.Chapter101.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Apress.VisualCSharpRecipes.Chapter10" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Apress.VisualCSharpRecipes.Chapter10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
</xs:schema>